force-app/main/default/flows/Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateContractPDF</name>
        <label>Generate Contract PDF</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <actionName>AccountContractInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isSuccessResult</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfContent</name>
            <value>
                <elementReference>FileTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfExtension</name>
            <value>
                <stringValue>pdf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTitle</name>
            <value>
                <elementReference>contractFileName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignClauseInfo</name>
        <label>Assign Clause Info</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ContractInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateContractClauses.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakRichText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateContractClauses.ClauseDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakRichText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakRichText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClauseNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateContractClauses.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClauseNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateContractClauses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractClauseAssociation</name>
        <label>Assign Contract Clause Association</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ContractClauseAssociation.AccountContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractClauseAssociation.AccountContractClause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateContractClauseValues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractClauseAssociationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractClauseAssociation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateContractClauseValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckNumberContractClauses</name>
        <label>Check Number of Contract Clauses</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>IterateContractClauses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clauses Found</defaultConnectorLabel>
        <rules>
            <name>NoClausesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractClauses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoClausesFoundScreen</targetReference>
            </connector>
            <label>No Clauses Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccessResult</name>
        <label>isSuccess Result</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>ContractGeneratedSuccessfully</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isSuccess Equals True</defaultConnectorLabel>
        <rules>
            <name>isSuccessEqualsFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractGeneratedWithErrors</targetReference>
            </connector>
            <label>isSuccess Equals False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClauseChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.BillingCountry</elementReference>
            </value>
        </filters>
        <object>AccountContractClause__c</object>
        <outputAssignments>
            <assignToReference>AccountClauses</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contractFileName</name>
        <dataType>String</dataType>
        <expression>&quot;Contract &quot; &amp; {!GetContractNumber.Name}</expression>
    </formulas>
    <formulas>
        <name>FileTemplateFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Contract Number: &quot; &amp;   {!GetContractNumber.Name} &amp; &quot;&quot; &amp; BR() &amp;
&quot;Contract Account: &quot; &amp; {!GetContractNumber.Contracts__r.Name} &amp; &quot;&quot; &amp;  BR() &amp;
&quot;Contract Clauses: &quot; &amp; BR() &amp; &quot;&quot; &amp;
{!ContractInfo}</expression>
    </formulas>
    <formulas>
        <name>LineBreakFormula</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract</label>
    <loops>
        <name>IterateContractClauses</name>
        <label>Iterate Contract Clauses</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <collectionReference>GetContractClauses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignClauseInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateContractClauseValues</name>
        <label>Iterate Contract Clause Values</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <collectionReference>GetContractClauses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContractClauseAssociation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContractClausesAssociation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>q</description>
        <name>CreateContractClausesAssociation</name>
        <label>Create Contract Clauses Association</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>GetContractNumber</targetReference>
        </connector>
        <inputReference>ContractClauseAssociationList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContractRecord</name>
        <label>Create Contract Record</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>ContractId</assignRecordIdToReference>
        <connector>
            <targetReference>IterateContractClauseValues</targetReference>
        </connector>
        <inputAssignments>
            <field>Contracts__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContract__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>Get Account</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContractClauses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContractClauses</name>
        <label>Get Contract Clauses</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNumberContractClauses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.BillingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContractClause__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContractNumber</name>
        <label>Get Contract Number</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GenerateContractPDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ContractGeneratedSuccessfully</name>
        <label>Contract Generated Successfully</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Contract Generated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContractGeneratedWithErrors</name>
        <label>Contract Generated With Errors</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;There was an error while generating the contract file. If it persists, contact the administrator. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateContract</name>
        <label>Create Contract</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateContractRecord</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Contract Clauses Available:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractClauseNames</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ClauseNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoClausesFoundScreen</name>
        <label>No Clauses Found Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoClausesFoundText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No contract clauses found for this account&apos;s country.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FileTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Contract Number:&lt;/strong&gt;   {!GetContractNumber.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contract Account:&lt;/strong&gt; {!GetContractNumber.Contracts__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contract Clauses:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ContractInfo}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LineBreakRichText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountClauses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClauseNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractClauseAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractClauseAssociation__c</objectType>
    </variables>
    <variables>
        <name>ContractClauseAssociationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractClauseAssociation__c</objectType>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
